<section
  class="post-wrapper post-footer-cta lazy"
  data-src="{{asset "img/screenshot-explore.png"}}"
>
  <div class="post-footer-cta-wrapper">
    <p class="cta-intro">
      <img src="{{asset "img/logo.png"}}" alt="Chopp" class="cta-logo" />
      <span class="cta-description">
        Ứng dụng đi chợ <br/>dành cho người bận rộn
      </span>
    </p>
    <div class="cta-downloads">
      <strong>
        #ChoppIsHere, giúp bạn tiết kiệm thời gian cho những điều ý nghĩa hơn.
      </strong>

      <a href="http://l.chopp.vn/Flfk/nqnrNYHYFF" target="_blank">
        <img src="{{asset "img/badge-app-store@2x.png"}}" alt="iOS App Store" class="cta-logo" />
      </a>

      <a href="http://l.chopp.vn/Flfk/nqnrNYHYFF" target="_blank">
        <img src="{{asset "img/badge-google-play@2x.png"}}" alt="iOS App Store" class="cta-logo" />
      </a>
      <br>
      <a href="https://chopp.vn?utm_source=blog.chopp.vn" target="_blank">
        https://chopp.vn
      </a>
    </div>
  </div>
</section>
