<section class="post-wrapper post-footer-cta">
  <div class="post-footer-cta-wrapper">
    <p class="cta-intro">
      <img src="{{asset "img/logo.png"}}" alt="Chopp" class="cta-logo" />
      <span class="cta-description">
        Ứng dụng đi chợ dành cho người bận rộn
      </span>
    </p>
    <div class="cta-downloads">
      <strong>
        #ChoppIsHere, giúp bạn tiết kiệm thời gian cho những điều ý nghĩa hơn.
      </strong>

      <a href="http://l.chopp.vn/Flfk/nqnrNYHYFF" target="_blank">
        <img src="{{asset "img/badge-app-store@2x.png"}}" alt="iOS App Store" class="cta-logo" />
      </a>

      <a href="http://l.chopp.vn/Flfk/nqnrNYHYFF" target="_blank">
        <img src="{{asset "img/badge-google-play@2x.png"}}" alt="iOS App Store" class="cta-logo" />
      </a>
      <br>
      <a href="https://chopp.vn?utm_source=blog.chopp.vn" target="_blank">
        https://chopp.vn
      </a>
    </div>
    <div>
      <br>
      <ul class="cta-values">
        <li class="cta-value">
          Chuyên mua bách hoá, thực phẩm sạch và tươi sống được tuyển chọn kỹ càng, đảm bảo luôn tươi ngon.
        </li>
        <li class="cta-value">
          Giao hàng tận nơi trong vòng 01 giờ (đặt từ 01 cửa hàng).
        </li>
        <li class="cta-value">
          Liên kết hơn 40 siêu thị và cửa hàng thương hiệu hàng đầu Việt Nam về thực phẩm sạch và hàng tiêu dùng.
        </li>
      </ul>
    </div>
  </div>
</section>
